.scaling{
    scale: 0.1;
}
.rotating{
    rotate: 180deg;
}
.onscaling{
    scale: 0.9;
}
.darkness{
    display: none;
}

.bordering{
    border: 25px solid rgb(56, 55, 55);
    border-top: 20px solid rgb(56, 55, 55);;
}
.z{
    z-index: 10;
}